$icomoon-font-family: "ToneIndicators" !default;
$icomoon-font-path: "fonts" !default;

$tone-c: "\e900";
$tone-cb: "\e903";
$tone-f: "\e904";
$tone-g: "\e905";
$tone-gen: "\e906";
$tone-hj: "\e899";
$tone-hyp: "\e907";
$tone-ij: "\e908";
$tone-j: "\e901";
$tone-l: "\e909";
$tone-lh: "\e90a";
$tone-li: "\e90b";
$tone-lu: "\e90c";
$tone-ly: "\e90d";
$tone-m: "\e90e";
$tone-nbh: "\e90f";
$tone-nc: "\e910";
$tone-neg: "\e911";
$tone-neu: "\e912";
$tone-nm: "\e913";
$tone-nsb: "\e914";
$tone-nsrs: "\e915";
$tone-nsx: "\e916";
$tone-nx: "\e917";
$tone-p: "\e918";
$tone-pc: "\e919";
$tone-pos: "\e91a";
$tone-r: "\e91b";
$tone-rh: "\e91c";
$tone-rt: "\e91d";
$tone-s: "\e902";
$tone-srs: "\e91e";
$tone-sx: "\e91f";
$tone-t: "\e920";
$tone-x: "\e921";

